.b-about {
  position: relative;
  // top:100px;


  &__flex{
    padding-top: 1%;
  }
  img {
    margin: -3px;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

.fadeIn {
  animation: fadeIn 0.2s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {

  0% {
    transform: translateX(-200%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
