@media (min-width:1440px) and (max-width:1550px) {
  .b-lines {
    padding-top: 30%;
    padding-bottom: 21%;

    &__line {
      width: 36%;
    }

    &__lineOne {
      top: 21%;
      left: 10%;
    }

    &__lineTwo {
      left: 12%;
      top: 55%;
    }

    &__lineThree {
      left: 59%;
      top: 29%;
    }


    &__lineFour {
      left: 57%;
      top: 65%;
    }

    &__lineFive {
      left: 32%;
      top: 79%;
    }

  }

}


@media (min-width:769px) and (max-width:1439px) {
  .b-lines {
    padding-top: 52%;
    padding-bottom: 23%;


    &__line {
      font-size: 17px;
      width: 33%;
    }

    &__lineOne {
      top: 21%;
      left: 4%;
    }

    &__lineTwo {
      left: 10%;
      top: 55%;
    }

    &__lineThree {
      left: 67%;
      top: 28%;
    }


    &__lineFour {
      left: 62%;
      top: 62%;
    }

    &__lineFive {
      left: 34%;
      top: 79%;
    }

  }
}

@media (min-width:1110px) and (max-width:1280px) {
  .b-lines {
    &__lineThree {
      top: 30%;
    }

    &__lineFour {
      top: 64%;
    }
  }
}

@media (min-width:769px) and (max-width:1024px) {
  .b-lines {
    padding-top: 52%;
    padding-bottom: 23%;


    &__line {
      font-size: 17px;
      width: 33%;
    }

    &__lineOne {
      top: 21%;
      left: 4%;
    }

    &__lineTwo {
      left: 10%;
      top: 55%;
    }

    &__lineThree {
      left: 67%;
      top: 28%;
    }


    &__lineFour {
      left: 62%;
      top: 62%;
    }

    &__lineFive {
      left: 34%;
      top: 79%;
    }


  }

}

@media (min-width:600px) and (max-width:768px) {
  .b-lines {
    padding-top: 60%;
    padding-bottom: 23%;


    &__line {
      font-size: 14px;
      width: 33%;
    }

    &__lineOne {
      top: 21%;
      left: 0%;
    }

    &__lineTwo {
      left: 7%;
      top: 55%;
    }

    &__lineThree {
      left: 69%;
      top: 28%;
    }


    &__lineFour {
      left: 62%;
      top: 62%;
    }

    &__lineFive {
      left: 34%;
      top: 79%;
    }


  }

}

@media (max-width:599px) {
  .b-lines {
    background: #000;
    padding-top: 9%;
    padding-bottom: 10%;


    &__line {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }


    &__text {
      border: 1px solid #e04e51;
      padding: 11% 4%;
    }

    &__lineOne,
    &__lineTwo,
    &__lineThree,
    &__lineFour,
    &__lineFive {
      position: static;
    }

    img {
      padding-top: 2%;
    }

  }

}



@media (min-width:450px) and (max-width:599px) {
  .b-lines {

    &__line {
      font-size: 16px;
      width: 90%;
    }
  }
}

@media (max-width:449px) {
  .b-lines {
    &__line {
      font-size: 14px;
      width: 100%;
    }
  }

}
