@media (max-width:767px) {
  .b-slogans {
    padding-bottom: 5%;
    padding-top: 5%;

    &__content {
      display: none;
    }

    &__owlContainerSlogans {
      opacity: 1;
      visibility: visible;
      max-height: 100%;
    }

    &__mainTitle {
      font-size: 30px;
    }

    &__title {
      text-align: center;
      padding-bottom: 2%;
    }

    &__text {
      margin: 0 auto;
      text-align: center;
      font-size: 17px;
      width: 67%;
    }
  }
}

@media (max-width:500px) {
  .b-slogans {
    &__mainTitle {
      font-size: 22px;
    }

    &__text {
      font-size: 15px;
    }
  }
}
