<div class="b-aboutH">
  <div class="b-aboutH__flexOne">
    <div class="b-aboutH__title">{{ "aboutHome.title" | translate}}</div>
    <div class="b-aboutH__titleText">{{ "aboutHome.titleText" | translate }}</div>
    <div class="b-aboutH__subText" >{{ "aboutHome.titleSubText" | translate }}</div>
    <button [routerLink]="['/' + ('routes.en/about' | translate)]">{{ "header.about" | translate }}</button>
  </div>

  <div class="b-aboutH__flexTwo">
    <div>
        <img src="/assets/images/aboutHome/slider.jpg" alt="truck"/>
    </div>
  </div>
</div>
