@media(min-width:1025px) and (max-width:1440px) {
  .b-clients {
    &__wrapper {
      width: 58%;
    }
  }
}


@media(min-width:846px) and (max-width:1024px) {
  .b-clients {

    &__wrapper {
      width: 70%;
    }

    &__partner {
      font-size: 20px;
    }
  }
}


@media(min-width:768px) and (max-width:845px) {
  .b-clients {

    &__wrapper {
      width: 70%;
    }

    &__text {
      font-size: 17px;
    }

    &__partner {
      font-size: 19px;
    }
  }
}

@media(min-width:600px) and (max-width:767px) {
  .b-clients {

    &__wrapper {
      width: 77%;
    }

    &__text {
      font-size: 16px;
    }

    &__partner {
      text-align: center;
      font-size: 16px;
    }
  }
}


@media(min-width:500px) and (max-width:1024px) {
  .b-clients {

    &__mainTitle {
      font-size: 30px;
    }

  }
}

@media(min-width:390px) and (max-width:599px) {
  .b-clients {

    &__wrapper {
      width: 77%;
    }

    &__mainTitle {
      font-size: 21.5px;
    }

    &__text {
      font-size: 16px;
    }

    &__partner {
      text-align: center;
      font-size: 16px;
    }

    img {
      width: 47%;
    }
  }
}


@media(max-width:389px) {
  .b-clients {

    &__wrapper {
      width: 77%;
    }

    &__mainTitle {
      font-size: 21.5px;
    }

    &__text {
      font-size: 16px;
    }

    &__partner {
      padding-top: 7%;
      text-align: center;
      font-size: 16px;
    }

    img {
      width: 47%;
    }
  }
}
