<div class="b-contact">
    <div class="b-contact__title">{{ 'contact.contactUs' | translate }}</div>
    <div class="b-contact__flex">
        <div class="b-contact__icons">
            <img src="assets/images/contact/address.png" alt="address">
            <div>{{ 'footer.addressText' | translate }}</div>
        </div>

        <div class="b-contact__icons">
            <img src="assets/images/contact/email.png" alt="email">
            <div>db.sped@yahoo.com</div>
        </div>

        <div class="b-contact__icons">
            <img src="assets/images/contact/call.png" alt="contact">
            <div>+389 70/506-025  <br> +389 75/305-315</div>
        </div>
    </div>

</div>