.b-contact {
  padding-bottom: 5%;

  &__title {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 40px;
    text-align: center;
    color: #ef3035;
    font-family: "Roboto-Bold";
    text-transform: uppercase;
  }


  &__flex {
    display: flex;
    justify-content: center;
    gap: 5%;
  }

  &__icons {
    font-size: 18px;
    font-family: "Roboto";
    width: 15%;
    padding: 2% 0;
    text-align: center;
    border: 2px solid #ef3035;
    transition: transform 0.4s ease-in-out;
  }

  &__icons:hover {
    background-color: #ef3035;
    transform: translateY(-10px);

  }


  &__icons div {
    padding-top: 2%;
    line-height: 25px;
  }

  &__icons div:nth-child(3) {
    display: none;
  }
}
