@media(min-width:1310px) and (max-width: 1520px) {
  .b-contact {
    &__icons {
      width: 18%;
    }

  }
}

@media(min-width:1025px) and (max-width: 1309px) {
  .b-contact {
    &__icons {
      width: 22.5%;
    }

  }
}

@media(min-width:769px) and (max-width: 1024px) {
  .b-contact {
    &__icons {
      font-size: 17px;
      width: 28%;
    }

    &__title {
      font-size: 30px;
    }


  }
}

@media(min-width:431px) and (max-width:768px) {
  .b-contact {

    &__flex {
      flex-direction: column;
      align-items: center;
    }

    &__icons {
      margin-bottom: 5%;
      padding: 5% 0;
      font-size: 17px;
      width: 53%;
    }

    &__icons div{
      font-size: 19px;
    }

    &__title {
      font-size: 30px;
    }

    img {
      width: 20%;
    }

  }
}

@media(max-width:430px) {
  .b-contact {

    &__flex {
      flex-direction: column;
      align-items: center;
    }

    &__icons {
      margin-bottom: 5%;
      padding: 10% 0;
      font-size: 15px;
      width: 75%;
    }

    &__title {
      font-size: 22px;
    }

    img {
      width: 20%;
    }

  }
}
