.b-header {
  font-family: 'Roboto';
  position: fixed;
  top: -.1%;
  z-index: 111;
  background-color: #353333;


  &__flex {
    display: flex;
    justify-content: center;
  }

  &__logo {
    width: 50%;
  }

  &__logo img {
    width: 15%;
  }

  &__menu {
    width: 27%;
    margin-top: 1.5%;
  }

  &__ul {
    display: flex;
  }

  &__ul li {
    cursor: pointer;
    list-style: none;
    color: #ef3035;
    padding-left: 5%;
  }

  a {
    width: 100%;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #ef3035;
    text-shadow: 2px 2px #00000040;
  }

  a:hover {
    color: #d41014;
  }

  &__dropdownL {
    height: 0;
    padding-top: 5%;
  }

  &__lang {
    margin-top: 2.5%;
    height: 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
  }


  &__lang img {
    margin-left: 5%;
    width: 30%;
  }

  .show {
    display: flex;
  }

  &__langMenu,
  &__langDrop {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 10%;
  }


  &__langMenu div {
    color: #fff;
    cursor: pointer;
  }

  &__langDrop {
    width: 100%;
    padding: 4%;
    background-color: #353333;
  }

  .items {
    display: flex;
    gap: 10%;
    margin: 5%;
    padding-top: 5px;
  }

  .items div {
    cursor: pointer;
  }

  &__hamburger {
    display: none;
  }

  .menu {
    display: none;
  }

  .menuClass {
    display: none;
  }

  .mk {
    margin-left: -1%;
  }

  .en {
    margin-left: .1%;
  }


}
