<div class="b-us">
  <div class="b-us__title">{{ 'reasons.reasonsText' | translate }}</div>
  <div class="b-us__icons" [@fadeInOne]="animation">
    <div class="b-us__flexOne">

      <div class="b-us__icon">
        <img src="/assets/images/whyUs/safe.png" alt="safe">
        <div>{{ 'reasons.safe' | translate }}</div>
      </div>

      <div class="b-us__icon">
        <img src="/assets/images/whyUs/environment.png" alt="environment">
        <div>{{ 'reasons.environment' | translate }}</div>
      </div>

      <div class="b-us__icon">
        <img src="/assets/images/whyUs/solutions.png" alt="solutions">
        <div>{{ 'reasons.solutions' | translate }}</div>
      </div>

    </div>

    <div class="b-us__flexTwo">
      <div class="b-us__icon">
        <img src="/assets/images/whyUs/quality.png" alt="quality">
        <div>{{ 'reasons.quality' | translate }}</div>
      </div>

      <div class="b-us__icon">
        <img src="/assets/images/whyUs/satisfaction.png" alt="satisfaction">
        <div>{{ 'reasons.customerSatisfaction' | translate }}</div>
      </div>

      <div class="b-us__icon">
        <img  src="/assets/images/whyUs/available.png" alt="available">
        <div>{{ 'reasons.available' | translate }}</div>
      </div>

    </div>

  </div>
</div>
